# Ignore virtual environment
myenv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore environment and config files
.env
*.env

# Ignore build/packaging stuff
build/
dist/
*.egg-info/

# Ignore OS-specific files
.DS_Store
Thumbs.db
